<center> <h3> Welcome In My First Application </h3> </center>
<table>
	<tr>
			<td><%= link_to 'Create New Profile', new_profile_path %></td> 
			<td><%= link_to 'Show All Profiles', profiles_path %></td>
	</tr>
</table>